@media (max-width: 768px) {
    .order-form{
        margin-left: 20%;
        margin-right: 20%;
        width: 200px;
    }
    .footer-list{
        border-bottom: 1px solid white;
    }
    .image{
        width: 40%;
    }
}
@media (min-width: 768px) {
    .order-form{
        width: 350px;
    }
    .footer-list{
        border-right: 1px solid white;
    }
    .image{
        width: 60%;
    }
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Catamaran', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(221, 232, 232);
   
}
#nav{
    background-color: darkblue;
    padding:8px;
}
#mark{
   
    height:20px;
    background-color: white;
    margin-left: 5%;
}
 .gallerys img:hover{
    transform:scale(1.1) ;
}
.submit{
    color: white;
    border: grey;
    border-radius: 40px;
    background-color: rgb(33, 33, 33);
    width: 100px;
}
.submit1{
    color: rgb(0, 0, 0);
    border: grey;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    width: 120px;
}
.contact-form {
    margin-left: 6%;
}
