@media (max-width: 790px) {
    .contact-form{
            margin-left: 10%;
            margin-right: 10%;
    }
}
@media (min-width: 790px) {
    .contact-form{
            margin-left: 30%;
            margin-right: 30%;
    }
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Catamaran', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color:azure;
}
#nav{
    background-color: darkblue;
}
.submit{
    color: white;
    border: grey;
    border-radius: 40px;
    background-color: rgb(33, 33, 33);
    margin-left: 12%;
    width: 35%;
}